<!DOCTYPE html>
<html>
  <head>
    <title>Hookable</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .match {

      }
      .no-match {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Hookable</h1>
    <p>There are <%= @hook_deliveries.size %> deliveries.</p>
    <% @hook_deliveries.each do |delivery| %>
      <h3 class="<%= delivery.secrets_match? ? "match" : "no-match" %>">
        <%= seconds_ago(delivery.seconds_ago) %>
      </h3>
      <pre><code><%= delivery.pretty_headers %></code></pre>
      <pre><code><%= delivery.pretty_payload %></code></pre>
    <% end %>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
